-# Layout.haml (encapsulates every rendered haml-file)
!!! 5
%html
	%head
		%title StartingPoint
		%link(rel="stylesheet" type="text/css" href="stylesheets/foundation.css")
		%link(rel="stylesheet" type="text/css" href="stylesheets/app.css")
		
		
	= yield